/***************************
// BASE STYLES
***************************/
* {
  box-sizing: border-box;
}

body {
  background: $white;
  font: normal 14px/1.5 $stack-sans-serif;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

img,
video {
  max-width: 100%;
}
