/* Descriptive color variables*/

$white            : #fafafa;
$black            : #000;
$grey             : lightgrey;


$Acapulco         : #71b095;
$Picton-blue      : #56c1f2;

/* Functional color variables*/
$text-color-light   : rgba(0, 0, 0, 0.54);

$bg-primary-color     : $Acapulco;
$bg-primary-gradient  : linear-gradient(to right, #1de9b6, #2979ff);

$hover-bg             : $Picton-blue;

$primary-border-color : $Picton-blue;

$border-color-icon    : $primary-border-color;

/* Font Stacks*/

$stack-sans-serif     : Helvetica, Arial, sans-serif;
$stack-open-sans      : 'Open Sans', $stack-sans-serif;
$stack-roboto         : 'Roboto', $stack-sans-serif;

/* Font Size*/

$font-small           : .875em;
$font-med             : 1em;
$font-large           : 1.5em;

/* Border radius*/

$br-round: 50%;

/* Center El's*/

$margin-center      :  0 auto;

/* Asset paths*/

$path-img  : '../img';

/* Media Query*/

/* ,(min-width: 600px) and (orientation: landscape)'*/

/* Fixes layout issue with project pic layout*/
$brk-2col-layout : '(min-width: 460px) and (max-width:1023px)';

$brk-tablet :  '(min-width: 460px),(min-width: 600px) and (orientation: landscape)';
$brk-wide   :  '(min-width: 1024px)';
