/* VIDEO ANIMATIONS */

.video-container {
  position: relative;
  background: $black;

  .media-player-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    background: rgba($black, 0.5);
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0.5em;

    .pause-btn {
      display: none;
    }

    .icon-volume--off {
      display: none;
    }

    .volume-btn.off {
      img.icon-volume--off {
        display: block;
      }

      img.icon-volume--on {
        display: none;
      }
    }

    span.time {
      display: inline-block;
      color: $white;

      i {
        font-style: normal;
      }
    }

    .left-media-controls,
    .right-media-controls {
      display: inherit;
    }

    .progress {
      width: 100%;
    }
  }

  .fade-in {
    animation: fadein 0.5s ease-out forwards;
  }

  .fade-out {
    animation: fadeout 0.5s ease-out forwards;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
::cue {
  font-family: $stack-open-sans;
  font-size: 1.1rem;
}
