/***************************
// HEADER STYLES
***************************/

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

  @include tablet {
    flex-direction: row;
  }

  .video-player-icon {
    color: $white;
    background: $bg-primary-gradient;
    border-radius: 50%;
    display: flex;
    font-weight: bold;
    margin-right: 1em;
    padding: 20px;

    .fa-television {
      font-size: 2em;
    }

    .main-heading {
      background: $primary-border-color;
    }

  }
}
